/*making the  ying yang image bigger in our html has increased the space that our header section takes  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.illustration-text img {
  /*make all the images  of the  1st section have round corners */
  border-radius: 30px;
}
body {
  /*height on the body and height on the container */
  height: 200vh;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* setting up the bg color for all  sections and the font-size font-color */
.dark-bg {
  /*header and footer background */
  background-color: #1f2937;
}
.medium-white-text {
  /*logo text and call to action text  */
  font-size: 24px;
  color: #fff;
}
.wrapper {
  /*put a max-width on the wrapper the text will be on multiple lines */

  max-width: 620px;
}
.hero .wrapper h1 {
  /* this is awesome*/
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder; /*extra-bold? */
}
.small-text-white,
.nav-links a {
  /*links nested within nav-links,paragraphs of hero section,second paragraph of join section,paragraph of footer*/
  font-size: 18px;
  color: #e5e7eb;
}
button {
  color: #fff;
  border-radius: 10px; /*round the corners of our buttons */
  padding: 5px 12px; /*make the button a bit bigger */
  margin-top: 8px; /*added margin on both button, but later I may have to remove some on the join-button */
  width: 120px; /*make button a bit longer */
}
.blue,
button {
  /*color both button but make the background blue for part of the section */
  background-color: #3882f6;
}
.join-button {
  /*upon closer look this button has a white border */
  border: 1px solid white;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  /*inside the header there's quite a bit of padding left,right,bottom */

  padding: 12px 100px 100px 100px;
  /* display: flex;
  flex-direction: column; */
}

.navbar {
  /*header logo and the link on the same row  */

  display: flex;
  justify-content: space-between;
}
.nav-links {
  /*all link should be in a row  */
  margin-right: 120px;
  display: flex;
  column-gap: 40px; /*gap between each link */
}

.hero {
  /*the image should be next to the h1 and p and add some space   */
  margin-top: 40px; /*space between ying yang and header text */
  display: flex;

  column-gap: 95px;
}
main {
  /*set main to display flex in order to use flex grow on the direct children(all three sections) */
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 8px solid red;
}
/* css rules for Illustration-text section */
.text-center-bold {
  /*style the h3 text only */
  margin: 40px 0;

  text-align: center;
  font-size: 36px;
  font-weight: bolder;
}

.illustration-text {
  /*create space between this section and quote section */
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center; /*center everything inside this container */
}
.container-images {
  margin-bottom: 80px;
  gap: 100px;
  display: flex;
  justify-content: center;
  align-items: baseline; /*puts all the 4 images at the same starting point inside this container */
}

.wrap-image-text {
  row-gap: 10px; /* create space between the text and images */
  /* flex: 1;  have the items grow inside their container  */

  max-width: 200px; /*put a max width  for the text and images */
  flex-wrap: wrap; /*make sure the text wraps onto the next line */
  display: flex;
  flex-direction: column; /*put the text under the image */
  align-items: center;
  justify-content: center;
}
/* CSS rule for the quote section */

.text-center-bold.reduce-top-margin {
  /*for the quote section reduce the space between the p text and the h3 title by a little
  and bring the h3 title a bit closer to the top  */
  margin: -30px 0 20px 0;
}

.grey-bg {
  /*bg color for the section quote */
  background-color: #e5e7eb;
}
.text-light-italic {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;

  max-width: 500px; /*for flex wrap */
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.author-quote {
  position: relative;
  left: 200px;
}
/*CSS rule to make the join and quote section similar in size but smaller than the first section*/
section:nth-child(1n + 2) {
  /*make quote and join section a bit bigger */
  border: 4px solid orange;
  flex: 1 1 0;
}

/*CSS rules for the last section called join */
.join {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap-button-text {
  width: 1200px;
}
.wrap-button-paragraph {
  column-gap: 220px;
  display: flex;
  /*justify-content: space-evenly; */
}
.blue {
  border-radius: 10px;
  padding: 40px; /*make blue section bigger */
}

/*CSS rule for the footer section */
footer {
  /*push the footer all the way down */
  height: 100px;
  margin-top: auto;
}
.text-white-centered {
  height: 100%;

  border: 2px solid green;
  display: flex; /*center the text */
  justify-content: center;
  align-items: center;
}
